var path='http://car-1259251626.cos.ap-shanghai.myqcloud.com/';
var formatTime = function(time,format){
  var ftime = 0
  if (('' + time).length === 10) {
    ftime = parseInt(time) * 1000
  } else {
    ftime = time
  }
  var d = getDate(ftime)
  var Month = parseInt(d.getMonth()) + 1
  if (format == 'yyyy/mm/dd') return (d.getFullYear() + '/' + Month + '/' + d.getDate())
  if (format == 'yyyy-mm-dd') return (d.getFullYear() + '-' + Month + '-' + d.getDate())
 
}

var foramtSrc = function(src){
  console.log(path + src)
      return path + src
}
module.exports={
  formatTime:formatTime,
  foramtSrc:foramtSrc
};