var formatlabel = function(item,length,min,max){
  if(length < 3){
     return item.slice(0,max);
  }else{
      return item.slice(0,min)
  }
}
var isShow = function(index){
  if(index >2){
    return false
  }else{
    return true
  }
}
module.exports={
  formatlabel:formatlabel,
  isShow:isShow
};